{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<!-- Form for filling project template -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}  {# Include CSRF token for form submission #}
    {{ form.as_p }}  {# Render form fields as paragraphs (p tags) #}
    <button type="submit">Submit</button>  {# Submit button to send form data #}
</form>
