{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block body %}

<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                    <h1>
                        PLDT CLOUD <br>
                        Managed by
                        Smartops Fusion
                      </h1>
                  <p>
                    Anything embarrassing hidden in the middle of text. All the Lorem Ipsuanything embarrassing hidden in the middle of text. All the Lorem Ipsumm </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class=" col-lg-10 mx-auto">
                    <div class="img-box">
                      <img src="{% static 'images/slider-img.png' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    Fast & Secure <br>
                    Web Hosting
                  </h1>
                  <p>
                    Anything embarrassing hidden in the middle of text. All the Lorem Ipsuanything embarrassing hidden in the middle of text. All the Lorem Ipsumm </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class=" col-lg-10 mx-auto">
                    <div class="img-box">
                      <img src="{% static 'images/slider-img.png' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h1>
                    PLDT CLOUD <br>
                    Managed by
                    Smartops Fusion
                  </h1>
                  <p>
                    Anything embarrassing hidden in the middle of text. All the Lorem Ipsuanything embarrassing hidden in the middle of text. All the Lorem Ipsumm </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class=" col-lg-10 mx-auto">
                    <div class="img-box">
                      <img src="{% static 'images/slider-img.png' %}" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  <!-- end slider section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>

{% endblock body %}